
.time-color {
  color: cornflowerblue;
}

.first-news {
  margin: 10px 0px;
  .time {
    float: left;
    margin: 0px 2% 0px 0px;
    width: 10%;
  }
  .content {
    float: left;
    width: 88%;
  }
}


