.app-one-comment {
  border: 1px solid gray;
  margin-bottom: 15px;
  padding: 10px;

  .score-box {

    .box {
      padding-top: 300px;

      p {
        float: left;
        position: relative;
        margin: 50px;

      }
    }

  }
}
