<div class="wrap">


  <div class="header clearfix">
    <div class="logo">

      <img routerLink="" src="/assets/img/logo-gazeta.png">

    </div>


    <div class="menu-left">

      <ul class="font-one">
        <li>Wiadomości</li>
        <li>Sport</li>
        <li>Next</li>
        <li>Kobieta</li>
        <li>Dziecko</li>
        <li>Wyborcza.pl</li>
      </ul>

    </div>

    <div class="menu-right">
      <ul class="font-one">
        <li>
          <span class="glyphicon glyphicon-envelope"></span>
          <span class="text">Poczta</span>

        </li>
        <li>
          <span class="glyphicon glyphicon-user"></span>
          <span class="text">Forum</span>
        </li>
        <li>
          <span class="glyphicon glyphicon-pencil"></span>
          <span class="text">Blogi</span>
        </li>
        <li>
          <span class="glyphicon glyphicon-briefcase"></span>
          <span class="text">Praca</span>
        </li>
        <li>
          <span class="glyphicon glyphicon-bed"></span>
          <span class="text">Domy</span>
        </li>
        <li>
          <span class="glyphicon glyphicon-headphones"></span>
          <span class="text">Radio</span>
        </li>
        <li>
          <span class="glyphicon glyphicon-search"></span>
          <span class="text">Szukaj</span>
        </li>
      </ul>

    </div>


  </div>


  <div class="page">

    <div class="page-right">

      <div class="news">
        <div class="new-header">

          NAJNOWSZE

        </div>
        <app-list-news>

        </app-list-news>




      </div>


    </div>

    <div class="page-left">


       <router-outlet></router-outlet>


    </div>
  </div>

  <div class="page-bottom">
    <div class="city">
      <div class="item-one">
        Pogoda Warszawa
      </div>
      <div class ="item-two">
        Pogoda 7 dniowa
      </div>
    </div>
    <div class="weather">
      <img src="/assets/img/pogoda.png">
    </div>
    <div class="day">
      Piątek, 21 kwietnia. Miło Cię widzieć!
    </div>
    <div class="name-day">
      SOLENIZANCI <br />
      Feliks, Addar i Anzelm
    </div>
  </div>









</div>
