
<div class="panda-picture">
<img src="/assets/img/panda.jpg">
</div>

<h1>Giant Panda</h1>

<p>
  The giant panda also known as panda bear or simply panda, is a bear native to south central China. It is easily recognized by the large, distinctive black patches around its eyes, over the ears, and across its round body. The name "giant panda" is sometimes used to distinguish it from the unrelated red panda. Though it belongs to the order Carnivora, the giant panda's diet is over 99% bamboo. Giant pandas in the wild will occasionally eat other grasses, wild tubers, or even meat in the form of birds, rodents or carrion. In captivity, they may receive honey, eggs, fish, yams, shrub leaves, oranges, or bananas along with specially prepared food.
  The giant panda lives in a few mountain ranges in central China, mainly in Sichuan province, but also in neighbouring Shaanxi and Gansu.  As a result of farming, deforestation, and other development, the giant panda has been driven out of the lowland areas where it once lived.
  The giant panda is a conservation reliant vulnerable species. A 2007 report showed 239 pandas living in captivity inside China and another 27 outside the country. As of December 2014, 49 giant pandas lived in captivity outside China, living in 18 zoos in 13 different countries. Wild population estimates vary; one estimate shows that there are about 1,590 individuals living in the wild, while a 2006 study via DNA analysis estimated that this figure could be as high as 2,000 to 3,000. Some reports also show that the number of giant pandas in the wild is on the rise. In March 2015, Mongabay stated that the wild giant panda population had increased by 268, or 16.8%, to 1,864 individuals. In 2016, the IUCN reclassified the species from "endangered" to "vulnerable" (it did not believe there was enough certainty yet to do so in 2008).
</p>
<a href="https://en.wikipedia.org/wiki/Giant_panda" target ="_blank">Learn More</a>
<p>Panda in zoos in Europe:</p>
<ul>
  <li>Berlin Zoological Garden, Germany is the former home of Bao Bao, which died in 2012 at the age of 34. He was the oldest male panda living in captivity at the time of his death and had lived in Berlin for twenty five years. He never reproduced.</li>
  <li>Tiergarten Schönbrunn, Vienna, Austria – home to Yang Yang (F) and Long Hui (M), born in Wolong, China in 2000 They gave birth to Fu Long (M) in 2007, and Fu Hu (M) in 2010. Fu Long, who has been relocated to China, was the first to be born in Europe in 25 years. On the 7. August 2016 twins were born.</li>
  <li>Zoo Aquarium, Madrid, Spain is the home of Bing Xing (M) and Hua Zuiba (F) since 2007. They gave birth to twin cubs on 7 September 2010. Another cub, Xing Bao (F), was born in 2013 and in September 2016 Chulina (F). The zoo was also the site of the first giant panda birth in Europe, Chulin (M) in 1982 whose parents, Shao Shao (F) and Chang Chang (M), arrived in 1978.</li>
  <li>The Edinburgh Zoo, Scotland – home to Tian Tian (F) and Yang Guang (M) since 4 December 2011.</li>
  <li>ZooParc de Beauval, Saint-Aignan, Loir-et-Cher, France – home to Huan Huan (F) and Yuan Zi (M) since 15 January 2012.</li>
  <li>Pairi Daiza, Cambron-Casteau, Belgium – home to Hao Hao (F) and Xing Hui (M) since February 2014; New born baby on 1 June 2016.</li>
</ul>
