.box-to-comment {
.comment {
  border: grey solid 1px;
  overflow: scroll;
  height: 200px;
  width: 500px;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}

input {
  width: auto;
  position: relative;
  float: right;
}



  width: 100%;
}
