
  <div class="box-to-comment">
    <div class="thumbnail">

      <div class="caption">
        <form class="form-signin" (ngSubmit)="onSubmit()">
        <textarea type="text" placeholder="Comment..." class="comment" required [(ngModel)]="payload.comment" name="comment"></textarea>
        <p>
          <input type="text" class="form-control" placeholder="Username" required [(ngModel)]="payload.userName" name="userName">
          <button type="submit" class="btn btn-primary">OK</button>
        </p>
        </form>
      </div>
    </div>
  </div>






